@model FoodShop.WebUI.Models.ProductsListViewModel  
@using FoodShop.WebUI.HtmlHelpers

@{
    ViewBag.Title = "Products";
}

<h2>@ViewBag.Title</h2>

@foreach (var p in Model.Products)
{
    <div class="well">
        <h3>
            <strong>@p.Name</strong>
            <span class="pull-right label label-primary">@p.Price.ToString("c")</span>
        </h3>
        <h3>
            <span class="lead">@p.Description</span>
        </h3>
    </div>
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>