@model FoodShop.WebUI.Models.ProductsListViewModel  
@using FoodShop.WebUI.HtmlHelpers

@{
    ViewBag.Title = "Products";
}

<h2>@ViewBag.Title</h2>

@foreach (var p in Model.Products)
{
    <div class="row">
        <div class="col-md-12">
            <h3>@p.Name</h3>
            <p>@p.Description</p>
            <h4>@p.Price.ToString("c")</h4>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
    </div>
</div>